# 가상환경 폴더
.venv/
venv/
env/

# 파이썬 캐시 파일 (자동 생성되는 불필요한 파일들)
__pycache__/
*.pyc

# 맥(Mac) 운영체제 임시 파일 (윈도우 사용자도 넣어두면 좋음)
.DS_Store

# 환경 변수 파일 (API 키 등 비밀번호가 들어가는 파일)
.env

# 모델 파일
models/bert_intent_classifier/
models/hana_card_model/*.safetensors
models/hana_card_model/training_args.bin